{% extends 'aplicacion/index.html' %}

{% block Titulo %}
<h1 class="display-4 fw-bolder">ACERCA DE MI</h1>
<p class="lead fw-normal text-white-50 mb-0"></p>
</div>
</div>
</header>  
{% endblock Titulo %}

{% block Contenido %}
<header>
    <h1>¡Hola!</h1>
    <p>Mi nombre es Manuel, soy estudiante de Sociología y me gustaría combinar la programación con las Ciencias Sociales.</p>
    </header>
<main>
    <section>
        <h2>¿Cómo combinarlas?</h2>
        <p>En principio, estoy interesado en aprender a manejar bases de datos y Python para adentrarme en el campo de la ciencia de datos. Considero que este conocimiento técnico puede resultar muy provechoso tanto en la realización de estudios de mercado como en trabajos de opinión pública.</p>
    </section>
    <section>
        <p>Más adelante considero seguir especializándome en Python e incorporar otros lenguajes como SQL y R.</p>
    </section>
</main>


{% endblock Contenido %}


{% block Copyright %}
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">COPYRIGHT &copy; PROYECTO FINAL- MANUEL ALIANO</p>
        <div class="text-center">
            <a href="https://www.linkedin.com/in/juan-manuel-aliano" class="icono-enlace" target="_blank">
                <i class="fab fa-linkedin fa-4x"></i> 
            </a>
        </div>
    </div>
</footer>
{% endblock Copyright %}

